body {
    font-family: Arial, Helvetica, sans-serif;


}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

th {
    padding: 10px;
    text-align: center;
}

td {
    padding: 7px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

tr:hover{
    background-color: rgb(228, 228, 228);
}

#btn-editar {
    padding: 5px 10px;
    background-color: #fcde33;
    border-radius: 5px;
    border: none;
}

#btn-editar:hover {
    background-color: #a18c14;
}

#btn-deletar {
    padding: 5px 10px;
    background-color: #ff4d4d;
    border-radius: 5px;
    border: none;
}

#btn-deletar:hover {
    background-color: #911919;
}